{% extends 'website/layout.html' %}
{% load static %}
{% block 'main' %}
<div class="wp-block-group alignfull has-radial-up-gradient-background has-background is-layout-constrained wp-container-core-group-is-layout-16 wp-block-group-is-layout-constrained" style="margin:0;padding:var(--wp--preset--spacing--xxl) var(--wp--preset--spacing--sm) 0 var(--wp--preset--spacing--sm)">
<div style="height:10px" aria-hidden="true" class="wp-block-spacer"></div>


<div class="wp-block-group has-animation is-content-justification-center is-nowrap is-layout-flex wp-container-core-group-is-layout-9 wp-block-group-is-layout-flex" style="animation-duration:1s;animation-iteration-count:1;--animation-name:fade-in-down;margin-top:0;padding:var(--wp--preset--spacing--sm) 0 var(--wp--preset--spacing--xxs) 0">
<div class="wp-block-group has-border-color has-primary-300-border-color has-primary-transparent-gradient-background has-background has-14-font-size has-box-shadow is-content-justification-center is-nowrap is-layout-flex wp-container-core-group-is-layout-8 wp-block-group-is-layout-flex" style="border-width:1px;border-radius:30px;font-style:normal;font-weight:500;--wp--custom--box-shadow--color:var(u002du002dwpu002du002dpresetu002du002dcoloru002du002dprimary-100);padding:4px var(--wp--preset--spacing--xs) 4px 12px">
<figure class="wp-block-image is-style-icon" style=""><span title="file magnifying glass duotone icon" role="img" class="wp-block-image__icon" style="--wp--custom--icon--size:1.5em;--wp--custom--icon--color:var(--wp--preset--color--primary-500)"><svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 256 256" fill="currentColor" role="img" aria-labelledby="icon-66c89eac04d09" data-icon="phosphor-duotone-file-magnifying-glass-duotone" style="min-width:1.5em;height:1.5em"><title id="icon-66c89eac04d09">File Magnifying Glass Duotone Icon</title>
<path d="M208,88H152V32Z" opacity="0.2"></path><path d="M213.66,82.34l-56-56A8,8,0,0,0,152,24H56A16,16,0,0,0,40,40V216a16,16,0,0,0,16,16H200a16,16,0,0,0,16-16V88A8,8,0,0,0,213.66,82.34ZM160,51.31,188.69,80H160ZM200,216H56V40h88V88a8,8,0,0,0,8,8h48V216Zm-45.54-48.85a36.05,36.05,0,1,0-11.31,11.31l11.19,11.2a8,8,0,0,0,11.32-11.32ZM104,148a20,20,0,1,1,20,20A20,20,0,0,1,104,148Z"></path></svg></span></figure>


<p class="wp-block-paragraph has-primary-900-color has-text-color has-link-color wp-elements-057e309475bc3d31836a3b29e951b9cc" style="">Term of Service</p>
</div>
</div>


<div class="wp-block-group is-content-justification-center is-nowrap is-layout-flex wp-container-core-group-is-layout-10 wp-block-group-is-layout-flex" style="margin-top:var(--wp--preset--spacing--sm)">
<h1 class="wp-block-heading has-primary-foreground-gradient-background has-background" id="about-us">Term of Service</h1>
</div>


<div class="wp-block-group is-layout-constrained wp-container-core-group-is-layout-11 wp-block-group-is-layout-constrained" style="margin-top:var(--wp--preset--spacing--xs)">
<p class="wp-block-paragraph aligncenter has-text-align-center has-primary-950-color has-text-color has-link-color aligncenter wp-elements-adeb852aaa906ce1b629ff7f8b7de343" style="">

</p>



<div class="wp-block-buttons is-content-justification-center is-layout-flex wp-container-core-buttons-is-layout-3 wp-block-buttons-is-layout-flex">
<div class="wp-block-button is-style-large" style=""><a class="wp-block-button__link wp-element-button" href="{% url 'homepage' %}" style="">Go to Home Page</a></div>
</div>
</div>


<div class="wp-block-group alignwide has-neutral-950-background-color has-background is-layout-flow wp-block-group-is-layout-flow" style="border-radius:30px;margin:var(--wp--preset--spacing--xl) 0;padding:0">
<div class="wp-block-group has-light-bulb-gradient-background has-background is-layout-constrained wp-container-core-group-is-layout-14 wp-block-group-is-layout-constrained" style="border-radius:30px;padding:var(--wp--preset--spacing--xl) var(--wp--preset--spacing--lg)">
<div class="wp-block-group is-layout-constrained wp-container-core-group-is-layout-13 wp-block-group-is-layout-constrained">
<div class="wp-block-group alignfull is-layout-constrained wp-block-group-is-layout-constrained" style="color:white">
<p class="wp-block-paragraph alignfull has-text-align-full alignfull" style="">
    <strong>
      This Agreement is entered into by and these Terms & Conditions
      (hereinafter referred to as the “Agreement”) shall regulate the relationship between {{site_info.name|title}}, (hereinafter referred to as the “Company”), and the user (a natural or legal entity)
      (hereinafter referred to as the “Client”) of (hereinafter referred as the “Website”).</strong>

</p>
    <p class="wp-block-paragraph alignfull has-text-align-full alignfull" style="">
    <strong>
        The Client confirms that he/she has read, understood and accepted all information, conditions and
      terms set out on the Website which are open to be reviewed and can be examined by the public
      and which include important legal Information.
    </strong>
    </p>


<p class="wp-block-paragraph alignfull has-text-align-full alignfull" style="">
    <strong>By accepting this Agreement, the Client agrees and irrevocably accepts the terms and conditions
      contained in this Agreement, its annexes and/or appendices as well as other documentation/information
      published on the Website, including without limitation to the Privacy Policy, Payment Policy, Withdrawal Policy, Code of Conduct, Order Execution Policy and Anti-Money Laundering Policy. The Client accepts this Agreement by registering an Account on the Website and depositing funds. By accepting the Agreement, and subject to the Company’s final approval, the Client enters into a legal and binding agreement with the Company.

    </strong>
</p>


    <p class="wp-block-paragraph alignfull has-text-align-full alignfull" style="">
    <strong>
        The terms of this Agreement shall be considered accepted unconditionally by the Client upon the Company’s receipt of an advance payment made by the Client. As soon as the Company receives the Client's advance payment, every operation made by the Client on the Trading Platform
      shall be subject to the terms of this Agreement and other documentation/information on the Website
    </strong>
</p>

     <p class="wp-block-paragraph alignfull has-text-align-full alignfull" style="">
    <strong>
       The Client hereby acknowledges that each and any Operation, activity, transaction, order and/or communication performed by him/her on the Trading Platform, including without limitation through the Account, and the Website, shall be governed by and/or must be executed in accordance with the terms and conditions of this Agreement and other documentation/information on the Website.
By accepting this current agreement, the Client confirms that he/she is able to receive information, including amendments to the present Agreement either via email or through the Website.
    </strong>
</p>
     <p class="wp-block-paragraph alignfull has-text-align-full alignfull" style="">
    <strong>
    A client that is a legal entity can register with the Company not through the Website but
      by sending an email with its request to . All terms and and conditions contained herein, including without limitation to 1 to 5 above, shall at all times be applicable to the Legal Entity and the latter shall conform with such terms and conditions, obligations and rights at all times.

    </strong>
</p>

  <h4>Subject of the Agreement</h4>
  <p class="wp-block-paragraph alignfull has-text-align-full alignfull" style="">
    <strong>

The subject of the Agreement shall be the provision of Services to the Client by the Company under the Agreement and through the Trading Platform.
The Company shall carry out all transactions as provided in this Agreement on an execution-only basis, neither managing the account nor advising the Client. The Company is entitled to execute transactions requested by the Client as provided in this Agreement even if the transaction is not beneficial for the Client. The Company is under no obligation, unless otherwise agreed in this Agreement and/or other documentation/information on the Website, to monitor or advise the Client on the status of any transaction, to make margin calls, or to close out any of the Client’s open positions. Unless otherwise specifically agreed, the Company is not obligated to make an attempt to
      execute the Client’s order using quotes more favorable than those offered through the Trading Platform.
    </strong>
</p>

  <h4>General Provisions</h4>
  <p class="wp-block-paragraph alignfull has-text-align-full alignfull" style="">
    <strong>

The Company will offer Services to the Client at the absolute discretion of the Company subject to the provisions of this Agreement.
The Client is prohibited and shall not, under no circumstances, be allowed to execute any transactions/Operations on the Trading Platform, Website and/or through his/her Account, that would as a result exceed the total balance and/or amount of money deposited/maintained with his/her Account. Such deposited amounts shall be considered to have been provided as collateral, either in the form of a lien or otherwise, to the Company
      by the Client by which the obligation of the Client to pay any money to the Company is secured.
    </strong>
</p>




<div style="height:10px" aria-hidden="true" class="wp-block-spacer"></div>


</div>
</div>


</div>
</div>
</div>





{% endblock %}

