<!doctype html>
{% load static %}
<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<title>Unice Hair | Trusted Human Hair wigs</title>

		<style>
			* {
				margin: 0px;
				padding: 0px;
				box-sizing:border-box
			}

			li {
				padding-bottom:10px
			}

			.img {
				width:48%;
				height:150px;
				max-width:200px
			}

			#footer {
				list-style:none;
				display: flex
			}

			#footer img {
				width: 40px;
				height: 40px
			}
		</style>
    </head>

	<body>
		<div style="background-color:orange;display:flex;justify-content:center;width:100%;padding:15px">
			<h1 style="color:white;width:100%;text-align:center">LUVME</h1>
		</div>

<!--		<div style="background:black;padding:20px;text-align:center;color:white">-->
<!--			<h3 style="font-size:30px">Join our  Models and Influencers Program</h3>-->

<!--		</div>-->

		<div style="padding:20px;">
			<p>Hello there!</p><br>
			<p>My name is Imani Clayton, Talent Scout for LuvmeHair. We have been impressed by your
				exceptional energy and charisma and believe you would be an excellent fit as a brand
				influencer for our company. LuvmeHair values passion and enthusiasm, qualities that you
				naturally embody.
			</p>
			<br>

			<p>If you are interested in this opportunity, we are pleased to offer the following:</p>
			<br>
			<ul>
				<li>A selection of five complimentary products from our range </li>
				<li>Featured shoutouts and re-grams on our social media platforms </li>
				<li>Monthly care packages delivered to your doorstep </li>
				<li>Access to our exclusive support system and reimbursement program</li>
			</ul>

			<br>
			<div>
				<img class="" style="width:90%;height:200px;margin:20px;max-width:500px" src="{{ domain }}{% static 'communication/images/l2.webp' %}" alt="logo" />
				<img class="img" src="{{ domain }}{% static 'communication/images/l1.webp' %}" alt="logo" />
				<img class="img" src="{{ domain }}{% static 'communication/images/l3.jpg' %}" alt="logo" />
			</div>
			<br>
			<p>We would love to discuss this opportunity further with you. Please feel free to reach out at your convenience
			</p>
			<br>


			<div style="background:black;color:white;padding:20px">
				<br>
				<p>Visit our <a target="_blank" style="text-decoration:none;color:orange" href="https://shop.luvmehair.com/">website </a> for more information</p>
				<br>
				<ul id="footer">
					<li><a href="https://www.facebook.com/luvmehair" target="_blank"> <img src="{{ domain }}{% static 'communication/images/s1.png' %}" alt="logo" /></a> </li>
					<li><a href="https://www.instagram.com/luvmehair/" target="_blank"> <img src="{{ domain }}{% static 'communication/images/s2.jpeg' %}" alt="logo" /></a></li>
					<li><a href="https://twitter.com/luvmehair" target="_blank"> <img src="{{ domain }}{% static 'communication/images/s3.png' %}" alt="logo" /> </a></li>
				</ul>
			</div>

		</div>
	</body>

</html>

