{% extends 'user_site/layout.html' %}
{% load static %}
{% load humanize %}
{% block 'main' %}
<div class="col-xl-12">
    <div class="card dz-card" id="tab-icon">
        <div class="card-header flex-wrap border-0">
            <h4 class="card-title">My Trades</h4>
        </div>
        <div class="tab-content" id="myTabContent7">
            <div class="tab-pane fade show active" id="TabWithIcon" role="tabpanel" aria-labelledby="home-tab7">
                <div class="card-body pt-0">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-bs-toggle="tab" href="#home8">
                                <span>
                                    Open Trades ({{open_trade_list|length}})
                                </span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" href="#profile8">
                                <span>
                                    Closed Trades ({{close_trade_list|length}})
                                </span>
                            </a>
                        </li>

                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content tabcontent-border">
                        <div class="tab-pane fade show active" id="home8" role="tabpanel">
                            <div class="pt-4">
                                {% if open_trade_list %}
                                    <div class="table-responsive active-projects user-tbl  dt-filter">
                                        <table id="user-tbl" class="table shorting">
                                            <thead>
                                                <tr>
                                                    <th>S/N</th>
                                                    <th>Asset</th>
                                                    <th>Amount</th>
                                                    <th>Time Place</th>
                                                    <th>End Time</th>
                                                    <th>Direction</th>
                                                    <th>Action</th>

                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for trade in open_trade_list %}
                                                <tr>
                                                    <td>{{ forloop.counter }}</td>
                                                    <td>{{ trade.symbol|upper }}</td>
                                                    <td>{{site_setting.default_currency.symbol}}{{ trade.amount|floatformat|intcomma }}</td>
                                                    <td>{{ trade.start_time }}</td>
                                                    <td>{{ trade.end_time }}</td>
                                                    <td class="text-center">{% if trade.direction == 'up' %} <i class="bi bi-arrow-up fs-4 text-success"></i> {% else %} <i class="bi bi-arrow-down fs-4 text-danger"></i>  {% endif %}</td>

                                                    <td>
                                                        <div class="dropdown">
                                                            <div class="btn-link" data-bs-toggle="dropdown" aria-expanded="false">
                                                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                    <path d="M11 12C11 12.5523 11.4477 13 12 13C12.5523 13 13 12.5523 13 12C13 11.4477 12.5523 11 12 11C11.4477 11 11 11.4477 11 12Z" stroke="#737B8B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                                                    <path d="M18 12C18 12.5523 18.4477 13 19 13C19.5523 13 20 12.5523 20 12C20 11.4477 19.5523 11 19 11C18.4477 11 18 11.4477 18 12Z" stroke="#737B8B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                                                    <path d="M4 12C4 12.5523 4.44772 13 5 13C5.55228 13 6 12.5523 6 12C6 11.4477 5.55228 11 5 11C4.44772 11 4 11.4477 4 12Z" stroke="#737B8B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                                                </svg>
                                                            </div>
                                                            <div class="dropdown-menu dropdown-menu-right" style="">
                                                                <a class="dropdown-item text-warning" href="#" data-bs-toggle="modal" data-bs-target="#editdept{{ forloop.counter }}">Update</a>
                                                                <a class="dropdown-item text-danger" href="{ url 'mining_plan_delete' plan.id %}">Delete</a>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>

                                        </table>
                                    </div>
                                {% else %}
                                <h4>No Open Trade</h4>
                                {% endif %}

                            </div>
                        </div>
                        <div class="tab-pane fade" id="profile8" role="tabpanel">
                            <div class="pt-4">
                                {% if close_trade_list %}
                                    <div class="table-responsive active-projects user-tbl  dt-filter">
                                        <table id="user-tbl" class="table shorting">
                                            <thead>
                                                <tr>
                                                    <th>S/N</th>
                                                    <th>Asset</th>
                                                    <th>Amount</th>
                                                    <th>Time Place</th>
                                                    <th>End Time</th>
                                                    <th>Direction</th>
                                                    <th>Profit</th>
                                                    <th>Action</th>

                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for trade in close_trade_list %}
                                                <tr>
                                                    <td>{{ forloop.counter }}</td>
                                                    <td>{{ trade.symbol|upper }}</td>
                                                    <td>{{site_setting.default_currency.symbol}}{{ trade.amount|floatformat|intcomma }}</td>
                                                    <td>{{ trade.start_time }}</td>
                                                    <td>{{ trade.end_time }}</td>
                                                    <td class="text-center">{% if trade.direction == 'up' %} <i class="bi bi-arrow-up fs-4 text-success"></i> {% else %} <i class="bi bi-arrow-down fs-4 text-danger"></i>  {% endif %}</td>
                                                    <td>{{site_setting.default_currency.symbol}}{{ trade.profit|floatformat|intcomma }}</td>

                                                    <td>
                                                        <div class="dropdown">
                                                            <div class="btn-link" data-bs-toggle="dropdown" aria-expanded="false">
                                                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                    <path d="M11 12C11 12.5523 11.4477 13 12 13C12.5523 13 13 12.5523 13 12C13 11.4477 12.5523 11 12 11C11.4477 11 11 11.4477 11 12Z" stroke="#737B8B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                                                    <path d="M18 12C18 12.5523 18.4477 13 19 13C19.5523 13 20 12.5523 20 12C20 11.4477 19.5523 11 19 11C18.4477 11 18 11.4477 18 12Z" stroke="#737B8B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                                                    <path d="M4 12C4 12.5523 4.44772 13 5 13C5.55228 13 6 12.5523 6 12C6 11.4477 5.55228 11 5 11C4.44772 11 4 11.4477 4 12Z" stroke="#737B8B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                                                </svg>
                                                            </div>
                                                            <div class="dropdown-menu dropdown-menu-right" style="">
                                                                <a class="dropdown-item text-primary" href="{% url 'user_trade_detail' trade.id %}">Detail</a>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>

                                        </table>
                                    </div>
                                {% else %}
                                <h4>No Close Trade</h4>
                                {% endif %}

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}

