{% extends 'admin_site/layout.html' %}
{% load static %}
{% load humanize %}
{% block 'main' %}
<div class="row">
    <div class="col-xl-12">
        <h1 class="text-primary">User Dashboard</h1>
        <div class="row">
            <div class="col-xl-3 col-sm-6">
                <div class="card box-hover">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <div class="icon-box icon-box-lg bg-primary-light rounded">
                                <i class="bi bi-people fs-3 text-primary"></i>
                            </div>
                            <div class="total-projects ms-3">
                                <h3 class="text-success count">{{total_users|intcomma}}</h3>
                                <span>Total Users</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-sm-6">
                <div class="card box-hover">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <div class="icon-box icon-box-lg bg-success-light rounded">
                                <i class="bi bi-people fs-3 text-success"></i>
                            </div>
                            <div class="total-projects ms-3">
                                <h3 class="text-success count">{{total_verified_users|intcomma}}</h3>
                                <span>Verified Users</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>
</div>



{% endblock %}

